@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;

}

.container {
    background: linear-gradient(135deg, #cf9aff, #95c0ff);
    height: 100vh;
    width: 100vw;

}

.header {
    display: flex;
    /* align-items: center; */
    /* justify-content: flex-start; */
    padding: 70px;
    flex-direction: column;


}

.hello {
    display: flex;
    align-items: center;
}

.hello img {
    width: 80px;
    height: 80px;


}

#notes {
    font-size: 2rem;
    color: white;
    font-weight: 600;
}

#notesBtn {
    width: 200px;
    padding: 20px;
    border: none;
    border-radius: 30px;
    margin: 30px;
    background-color: #6c13c0;
    color: white;
    font-size: 1.2rem;
}


/* modal */

#modal {
    height: 600px;
    width: 600px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: none;
    padding: 20px;
    font-size: 2rem;
    border-radius: 5px;
    position: relative;
    scroll-behavior: smooth;
}

#save {
    position: fixed;
    bottom: 130px;
    right: 700px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #cf9aff;
    color: black;
    font-size: 1.5rem;
}

.Trash {

    position: fixed;
    bottom: 130px;
    right: 900px;
    color: #000;
    font-size: 1.3rem;
    cursor: pointer;

}

[contenteditable="true"]:focus {
    outline: none;
}

.para {
    width: 600px;
    height: 100px;
    background-color: white;
    color: #000;
    padding: 20px;
    margin-left: 30px;
    border-radius: 5px;
    margin-bottom: 20px;

}